@tailwind base;
@tailwind components;
@tailwind utilities;

:root { 
  color-scheme: light; 
}

body { 
  background-color: white;
  color: rgb(17 24 39); /* gray-900 */
}

a { 
  color: rgb(37 99 235); /* blue-600 */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
